# включаем модуль mod_rewrite
RewriteEngine On

# вопрос? этот модуль где расположен? в Apache?
# я правильно понимаю терминологию? Модуль это скрипт привинчивающийся к основному коду? Да?
# тоесть существует какой то обработчик в Apache, который отслеживает подключение модулей?

# .htaccess - Это файл конфигурации уровня директории,
# то есть в нем можно писать конфиги, которые будут работать для конкретной директории
# В нем можно включать и выключать различные модули
# Apache состоит из ядра и модулей.
# Ядро Apache включает в себя: обработку конфигурационных файлов, протокол HTTP и система загрузки модулей.
# Весь остальной функционал предоставляется модулями
# Например он же может не только с PHP работать, но и с другими языками, для каждого языка есть свой модуль
# Для PHP он называется mod_php

# Ты включил mod_rewrite, но не описал никаких правил для перенаправления запросов
# Надо подробно разобрать что это за правила ниже, я их просто скатал с другого сайта

RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
