# включаем модуль mod_rewrite
RewriteEngine On
# вопрос? этот модуль где расположен? в Apache?
# я правильно понимаю терминологию? Модуль это скрипт привинчивающийся к основному коду? Да?
# тоесть существует какой то обработчик в Apache, который отслеживает подключение модулей?



